/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}
.card {
    -fx-padding: 10;
    -fx-alignment: center;
    -fx-spacing: 10;
    -fx-border-color: grey;
    -fx-border-width: 2;
    -fx-background-color: white;
    -fx-background-radius: 10; /* Radio de fondo */
    -fx-border-radius: 10; /* Radio de borde */
    -fx-effect: dropshadow(gaussian, black, 5, 0, 0, 0);
}
.file-drop-area {
    -fx-border-color: #000000;
    -fx-border-width: 2px;
    -fx-border-style: dashed;
    -fx-background-color: #FFFFFF;
    -fx-padding: 20px;
}

.file-drop-label {
    -fx-text-fill: #000000;
}

.select-files-button {
    -fx-background-color: #4CAF50;
    -fx-text-fill: #FFFFFF;
    -fx-cursor: hand;
}

.select-files-button:hover {
    -fx-background-color: #45A049;
}
.vbox_{
    width: 400px;
    height: 200px;
}
.buttonApoyar {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-padding: 10 20 10 20;
    -fx-font-size: 14px;
}

.buttonApoyar:hover {
    -fx-background-color: #45a049;
}

.buttonSalir {
    -fx-background-color: #f44336;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-padding: 10 20 10 20;
    -fx-font-size: 14px;
}

.buttonSalir:hover {
    -fx-background-color: #d32f2f;
}

.verde{
    -fx-text-fill: green;
}


.combo-box {
    -fx-padding: 4px 4px;
    -fx-background-color:  #45A4B9;
    -fx-background-radius: 5;
    -fx-text-fill: white;
    -fx-mark-color: white;
}

.combo-box .list-cell {
    -fx-padding: 4px 7px;
    -fx-background-color: white;
    -fx-text-fill:  #333;
}


.combo-box .list-cell:filled:selected, .combo-box .list-cell:filled:selected:hover {
    -fx-background-color: #45A4B9;
    -fx-text-fill: white;
}


.combo-box .list-cell:hover {
    -fx-background-color: #EEE;
}


.combo-box .list-view {
    -fx-background-color: white;
    -fx-background-insets: 0;
    -fx-background-radius: 5;
}


.combo-box-base {
    -fx-background-radius: 5;
}
